.message {
    font-weight: 600;
    color: blue;
}

.body-content {
    padding: 5px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

table, td, th {
    border:  1px solid black;
	border-collapse:  collapse;
	padding:  5px;
}
