<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Spelling Bee</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='site.css')}}" />
		<link rel="stylesheet" type="text/css" href="static/site.css" />
		<style>
		body {
			font-family:  arial, sans-serif;
		}
		</style>
    </head>
    <body bgcolor='pink'>
		<center>
		<h1>Spelling Bee!</h1>
		<p>
		<p>Enter target letters:</p>
		<form method="POST">
			<input name="letters" id="letters">
			<input type="submit">
		</form>
		<p><strong>There must be exactly 7 target letters, the first letter must always be present.</strong></p>
		</center>
    </body>
</html>
